@page "/"
@using Demo.Models
@using static FlintSoft.Controls.Buttons.FSButton

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<EditForm Model="_model" OnValidSubmit="myFirstSubmit" class="first-form">
    <DataAnnotationsValidator />
    <FSFormRow>
        <FSInput Id="first-inp" Label="My first Input" @bind-Value="_model.FirstTextInput" ValidationFor="() => _model.FirstTextInput" />
    </FSFormRow>
    <FSFormRow>
        <FSDateInput Id="first-date" Label="My first Date" @bind-DateValue="_model.FirstDate" ValidationFor="() => _model.FirstDate" />
    </FSFormRow>
    <FSFormButtonRow>
        <FSButton ButtonType="submit" Caption="Speichern" Style="ButtonStyle.PRIMARY" />
        <FSButton ButtonType="button" Caption="Abbrechen" Style="ButtonStyle.SECONDARY" OnClickCallback="abort" />
        <FSButton ButtonType="button" Caption="Abbrechen" Style="ButtonStyle.SUCCESS" OnClickCallback="abort" />
        <FSButton ButtonType="button" Caption="Abbrechen" Style="ButtonStyle.DANGER" OnClickCallback="abort" />
    </FSFormButtonRow>
</EditForm>

<textarea>@TextArea</textarea>

@code {
    public string TextArea { get; set; } = "";

    public FirstInputs _model = new();

    void myFirstSubmit()
    {
        TextArea = "";
        TextArea = $"Text: {_model.FirstTextInput}, Date: {_model.FirstDate.ToShortDateString()}";
    }

    void abort() {
        TextArea = "";
    }

} 