@namespace FlintSoft.Controls.Container

<div class="@componentCssClass">
    @ChildContent
</div>

@code {
    const string BASECLASS = "fs-input-container";
    const string BASECLASSCB = "fs-input-cb-container";

    [Parameter]
    public string CssStyle { get; set; } = "";

    [Parameter]
    public RenderFragment ChildContent { get; set; } = default!;

    [Parameter]
    public bool IsCheckBox { get; set; } = false;

    private string componentCssClass { get { return $"{(IsCheckBox ? BASECLASSCB : BASECLASS)} {CssStyle}"; } }
}
